* {
   margin: 0;
   padding: 0;
}

.contents {
    width: 100vw;
    height: 100vh;
}

.box {
    width: 300px;
    height: 300px;
    background-color: #000000;
    text-align: center;
    color: #ffffff;
    font-size: 80px;
    font-weight: 600;
    line-height: 300px;

    /* transform */
    transform: translateX(50px) translateY(100px);

    transition: transform 300ms ease-in-out;
}

.box.box-1 {
    transform: scale(1.0) rotate(0deg);
}

.box-wrap{
    width: 300px;
    height: 300px;
}

.box-wrap:hover .box.box-1 {
    transform: scale(0.3) rotate(90deg);
}

.box.box-1:hover {
    /* transform: scale(0.3) rotate(90deg); */
    /* transform-origin: 100% 50%; */
}

.close {
    /* overflow: hidden; */
    position: relative;
    width: 100px;
    height: 100px;
    margin: 50px;
    margin-top: 200px;
    background-color: lightblue;
}

.close span {
    display: block;
    position: absolute;
    background-color: #000000;
}

.close span:first-child {
    width: 100%;
    height: 8px;
    /* transform: translateY(-50%) */
    transform: translateY(50px) rotate(45deg);
    margin-top: -4px;
}

.close span:last-child {
    width: 8px;
    height: 100%;
    transform: translateX(50px) rotate(45deg);
    margin-left: -4px;
}


.close-2 {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 50px;
    background-color: lightblue;
}
.close-2 span{
    display: block;
    position: absolute;
    background-color: #000000;
    transition: transform 200ms ease-in;
}

.close-2:hover span {
    transition: transform 120ms ease-out;
}

.close-2 span:first-child{
    top: 50%;
    right: 0;
    left: 0;
    /* width: 100%; */
    height: 8px;
    transform: translateY(-50%);
}
.close-2 span:last-child{
    top: 0;
    bottom: 0;
    left: 50%;
    width: 8px;
    /* height: 100%; */
    transform: translateX(-50%);
}

.close-2:hover span:first-child {
    transform: translateY(-50%) rotate(-45deg);
}

.close-2:hover span:last-child {
    transform: translateX(-50%) rotate(-45deg);
}

.close-3 {
    overflow: hidden;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 50px;
    background-color: lightblue;
    border-radius: 50%;
    text-indent: -9999px;
}

.close-3::before,
.close-3::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #000000;
    transition: transform 200ms ease-in;
}

.close-3::before {
    top: 50%;
    right: 20%;
    left: 20%;
    height: 8px;
    transform: translateY(-50%);
}

/* .close-3::after {
    top: 20%;
    bottom: 20%;
    left: 50%;
    width: 8px;
    transform: translateX(-50%);
} */


.close-3::after {
    top: 50%;
    left: 50%;
    width: 8px;
    height: 60px;
    transform: translateX(-50%) translateY(-50%);
}


.close-3:hover::before {
    transform: translateY(-50%) rotate(45deg);
}

/* .close-3:hover::after {
    transform: translateX(-50%) rotate(45deg);
} */

.close-3:hover::after {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}